.body-main-container {
    padding: 3em;

    .logo {
        width: 5rem;

    }

    .welcome-text {
        margin-top: 2rem;
    }


    .logo-main-container {
        text-align: center;
    }

    .signup-title {
        margin-top: 2rem;
    }


    .signup-list-container {
        display: flex;
        flex-flow: column;
        margin-top: 1rem;

        .signup-list {
            background-color: transparent;
            border: 0.1rem solid #d7cdcd;
            border-radius: 2rem;
            display: flex;
            place-content: center;
            align-items: center;
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
            padding: 0.2rem;

            .signup-list-logos {
                width: 1.5rem;
                padding-right: 0.5rem;
            }
        }
    }

    .signup-or-container {
        p {
            width: 100%;
            text-align: center;
            border-bottom: 1px solid #c3c3c3;
            line-height: 0.1em;
            margin: 10px 0 20px;
        }

        p span {
            background: #fff;
            padding: 0 10px;
        }
    }

    .register-input-container {
        ::ng-deep {
            .mat-mdc-text-field-wrapper {
                border-top-left-radius: 1rem;
                border-top-right-radius: 1rem;
                background-color: white;
            }

            .error {
                color: red;
                font-size: 0.8rem;
            }
        }
    }

    .form-field {
        width: 100%;
    }

    .signup-account-container {
        display: flex;
        flex-flow: column;
        .privacy-container{
            display: flex;
            flex-direction: row;
            font-size: 0.6rem;
            align-items: center;
            a{
                display: flex;
                flex-direction: row;
            }
        }
        .signup-account {
            background-color: transparent;
            border: 0.1rem solid gray;
            border-radius: 2rem;
            display: flex;
            place-content: center;
            align-items: center;
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
            background-color: black;
            padding: 0.5rem;
            color: white;
            font-weight: bold;
            text-decoration: none;
        }

        .signup-account-rules {
            font-size: 0.6rem;
            color: gray;
        }
    }

    .login-main-container {
        margin-top: 2rem;

        display: flex;
        flex-flow: column;

        .login-title {
            font-weight: bold;
        }

        .signin {
            background-color: transparent;
            border: 0.1rem solid #c3c3c3;
            border-radius: 2rem;
            display: flex;
            place-content: center;
            align-items: center;
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
            color: black;
            padding: 0.5rem;
            background: white;
            font-weight: bold;
            text-decoration: none;
        }
    }
    .loading-main-container{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        /* bottom: 0; */
        display: flex;
        align-items: center;
        place-content: center;
        background-color: #80808042;
    }
}