.main-container {
    display: flex;
    flex-direction: row;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    padding: 0.6rem;
    background-color: white;
    border-radius: 1rem;
    .image-container{
        display: flex;
    img {
        width: 3rem;
        height: 3rem;
        object-fit: cover;
        border-radius: 20rem;
    }
}

    .user-texts-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;

        .user-texts {
            display: flex;
            flex-direction: column;
            padding-left: 0.4rem;

            .name {
                font-weight: bold;
                font-size: 1rem;
                margin-top: 0;
                margin-bottom: 0;
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                line-clamp: 1;
                -webkit-box-orient: vertical;
            }
            .followed{
                color: gray;
                font-size: 0.9rem;
            }
        }

        .time {
            font-size: 0.8rem;
            color: gray;
        }

    }
}