<div class="main-container">
    <div class="image-container">
        <img (error)="handleImageError()"
            *ngIf="profilepicture"
            class="content-info-detail-picture"
            [src]="profilepicture" alt="">

        <!-- <img [src]="profilepicture" alt=""> -->
    </div>
    <div class="content-container">
        <div class="content">
            <div class="name">{{usersFiltered }}</div>
            <div class="sender">
                <p *ngIf="lastSenderName">{{usersFiltered}}:&nbsp;</p>
                <p *ngIf="item?.lastMessageContent">{{ item.lastMessageContent }}</p>
            </div>
        </div>
        <div class="time" *ngIf="item !== undefined">{{ item.lastMessageSentAt | messageTime }}</div>
    </div>
</div>