<div class="content-main-container" (click)="openDialog()">
    <div class="content-container">
        <div class="content-list">
            <!-- <img class="profile-pic" [src]="img" alt=""> -->
        </div>
        <div class="content-list input-container">
            <!-- '0ms', '0ms' -->
            <div  class="form-field-container">

            <mat-form-field  class="form-field">
                <mat-label>Post</mat-label>
                <input matInput>
              </mat-form-field>
            </div>

            </div>
        <div class="content-list">
            <mat-icon class="image">image</mat-icon>
        </div>
    </div>
</div>