<div class="body">

  <div class="main-container">



    <div class="profession-category-main-container">
      <h4>Profession</h4>
      <div class="profession-category-container">
        <div *ngFor="let profession of filterModels.professions" class="profession-category-list">
          <button (click)="profPick(profession)" *ngIf="!profession.active" mat-stroked-button color="primary">{{profession.category}}</button>
          <button (click)="profPick(profession)" *ngIf="profession.active" mat-raised-button color="primary">{{profession.category}}</button>
        </div>
      </div>
    </div>

    <div class="age-size-main-container">
      <!-- <h4>Age</h4> -->

      <div class="age-size-container">
        <div class="example-label-container">
          <label id="example-name-label" class="example-name-title">Age:&nbsp;</label>
          <label class="example-value-label">{{filterModels.properties.minAge}}</label>
          <label class="example-value-label">-</label>
          <label class="example-value-label">{{filterModels.properties.maxAge}}</label>
        </div>
        <mat-slider [min]="filterModels.properties.minAge" [max]="filterModels.properties.maxAge" showTickMarks discrete>
          <input [value]="pickedMinAge" matSliderStartThumb>
          <input [value]="pickedMaxAge" matSliderEndThumb>
        </mat-slider>
      </div>
    </div>

    <div class="followers-size-main-container">
      <div class="example-label-container">
        <label id="example-name-label" class="example-name-title">Followers:&nbsp;</label>
        <label class="example-value-label">{{formatLabel(filterModels.properties.minFollowers)}}</label>
        <label class="example-value-label">-</label>
        <label class="example-value-label">{{formatLabel(filterModels.properties.maxFollowers)}}</label>
      </div>

      <div class="followers-size-container">
        <mat-slider [min]="filterModels.properties.minFollowers" step="1000" [max]="filterModels.properties.maxFollowers" [displayWith]="formatLabel" showTickMarks discrete>
          <input [value]="pickedMinFollowers" matSliderStartThumb>
          <input [value]="pickedMaxFollowers" matSliderEndThumb>
        </mat-slider>
      </div>
    </div>



  </div>



  <div class="action" mat-dialog-actions>
    <button mat-button mat-dialog-close mat-raised-button color="warn">cancel</button>
    <button mat-button mat-dialog-close cdkFocusInitial mat-raised-button color="primary" [mat-dialog-close]="filterModels">search</button>
  </div>
</div>