.container {
    padding-top: 4rem;
    padding-bottom: 4rem;

    .models-list {

        // display: flex;
        .model-container {
            padding: 1rem;
        }
    }
}

.menu-container {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;

    .menu-list {
        display: flex;
        flex-direction: row;
        gap: 1rem;

        .menu-item {
            font-size: 1rem;
            font-weight: 500;
            color: gray;

            &:hover {
                color: black;
                cursor: pointer;
            }
        }
    }
}