.example-card {
width: 100%;
// height: 20rem;
border-radius: 1rem;
  }
  mat-card-header{
    padding: 0.5rem;
    padding-bottom: 0rem;
  }
  .example-header-image {
    img{
        height: 2.5rem;
        width: 2.5rem;
        border-radius: 20rem;
    }
  }
  .mdc-card__media{
    height: 12.3rem;
  }
  .reviewstars-list{
    display: flex;
    justify-content: center;
  }
  mat-card-subtitle{
    font-size: 0.7rem;
  }
  .followers-container{
    display: flex;
    font-size: 0.7rem;
    justify-content: center;
    .followers{
      color:gray;
    }
    .followers-number{
      font-weight: bold;
    }
  }
  i {
    position: relative;
    display: inline-block;
    font-size: 1rem;
    padding-right: 0.1rem;
    color: #d3d3d3;
  }
  .filled {
    color: #f5c518;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
  }
  