

.message-main-container {
    display: flex;
    width: 100%;

    .message-container {
        width: 70%;
        padding: 1rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        .time {
            font-size: 0.7rem;
            font-weight: bold;
        }

        .message {
            box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
            border-radius: 1.7rem;
            padding: 0.7rem;
            width: fit-content;
            background-color: #c7c7c7;
            color: black;
            border-bottom-left-radius:0;
            min-width: 4rem;

            p {
            line-break: anywhere;
                margin: 0;
            }
        }

        .image-main-container {
            // width: 15rem ;
            .image-container {
                // display: flex;
                // width: -webkit-fill-available;

                .image {
                    border-radius: 1rem;
                    display: flex;
                    width: -webkit-fill-available;
                    padding: 0.2rem;
                }
            }
        }
    }
}
.owner {
    justify-content: flex-end;

    .message-container {
        display: flex;
        place-content: flex-end;
        flex-direction: column;
        align-items: end;

        .time {
            padding-right: 0.5rem;
        }

        .message {
            background-color: #58b9ff !important;
            color: white ;
            border-bottom-right-radius:0;
            border-bottom-left-radius:1.7rem;

            p {
                text-align: end;
            }
        }

    }

}