.content-main-container {
    background-color: white;
    position: relative;
    border-radius: 1.5rem;

    .content-detail-main-container {
        display: flex;
        flex-direction: row;
        // padding-top: 1rem;
        padding-left: 0.5rem;
        // padding-right: 0.5rem;
        padding-top: 0.5rem;
        // margin-bottom: 0.5rem;
        justify-content: space-between;

        .user-container {
            display: flex;
            flex-direction: row;
        }

        .content-info-main-container {
            display: flex;
            flex-direction: row;
            align-items: center;

            .content-info-detail-picture-container {
                border: 0.15rem dashed #efa1af;
                border-radius: 20rem;

                .content-info-detail-picture {
                    width: 3rem;
                    height: 3rem;
                    border-radius: 20rem;
                    object-fit: cover;
                }
            }

            .content-info-detail {
                padding-left: 0.5rem;

                // padding-right: 0.5rem;
                .content-info-name {
                    font-size: 0.9rem;
                    font-weight: bold;
                }

                .content-info-date {
                    font-size: 0.8rem;
                    color: gray;
                }
            }
        }

        .content-info-follow {
            height: 100%;
            line-height: normal;

            .user-follow {
                background-color: transparent;
                border: none;
                color: #0064d1;
                font-weight: bold;
                font-size: 0.7rem;
            }
        }

        .content-more-main-container {
            .more {
                background-color: transparent;
                border: none;
            }
        }

        .chatroom-menu-container {
            .mat-mdc-icon-button.mat-mdc-button-base {
                padding-top: 0.3rem;

            }
        }
    }

    .content-description-main-container {
        .content-description {
            // padding: 0.5rem;
            padding-left: 1rem;
            padding-right: 1rem;
            padding-top: 0.2rem;
            line-break: anywhere;
        }

        .hideText {
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
        }

        .seeMore-container {
            padding-left: 1rem;

            .seeMore {
                color: lightslategray;
            }
        }

    }

    .content-container {
        .video {
            width: 100%;

        }
    }

    .contend-reviews {
        padding: 0.5rem;
        display: flex;
        align-items: center;

        mat-icon {
            font-size: 1.5rem;
            width: 1.5rem;
            height: 1.5rem;
            color: rgb(13 131 255);
        }

        // .content-reviews-numbers{

        // }
    }

    .content-options-container {
        .content-options {
            display: flex;
            flex-direction: row;
            justify-content: start;
            padding: 0.5rem;
            padding-left: 0;

            .content-options-list-container {
                display: flex;
                flex-direction: row;
                padding-left: 0.3rem;
                padding-right: 0.3rem;

                .content-options-list {
                    border: none;
                    background-color: rgb(240 242 245 / 38%);
                    width: 4rem;
                    height: 2rem;
                    border-radius: 3rem;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;

                    button {
                        border: none;
                        background-color: transparent;

                        .liked {
                            color: deeppink;
                        }
                    }

                    mat-icon {
                        font-size: 1rem;
                        width: 1rem;
                        height: 1rem;
                    }

                    .content-options-list-numbers {
                        padding-left: 0.5rem;
                        font-size: 0.6rem;
                    }
                }

                .content-option-like {
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                    border-right: 0.02rem solid #d3d3d3;
                }

                .content-option-dislike {
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                    border-left: 0.02rem solid #d3d3d3;
                }
            }
        }
    }
}

img {
    padding: 0rem
}

.loading-main-container {

    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /* bottom: 0; */
    display: flex;
    align-items: center;
    place-content: center;
    background-color: #80808042;
}