// button{
//     border: 0;
//     background-color: transparent;
//     i{
//         font-size: 3rem;
//         color: white;
//     }
// }
// .dialogClass{
//     background-color: transparent;
    
// }
// /* Customize the backdrop/overlay */
// .custom-dialog-backdrop {
//     background-color: rgba(0, 0, 0, 0.5); /* Adjust the alpha value to set transparency */
//   }
  
//   /* Customize the dialog panel */
//   .custom-dialog-panel {
//     background-color: transparent !important; /* Set the dialog panel background as transparent */
//   }
// ::ng-deep .custom-dialog > mat-dialog-container {
//     background-color: var(--background);
//     background-color: transparent;
//   }