<div  class="main-container">

    <div [class.hide]="!components" [class.hidee]="!isHeaderVisible" [class.hide]="profilePage" class="header">

        <app-header  *ngIf="components"></app-header>
    </div>
    <div class="router-container">
        <router-outlet></router-outlet>
    </div>
    <div [class.hide]="!components" class="footer-container">

        <app-footer [activePage]="activePage"></app-footer>
    </div>
    <div *ngIf="aboutPage" class="about-container">
        <app-aboutpage></app-aboutpage>
    </div>
</div>