.hide {
    display: none;
}

.main-container {
    // position: relative;
    max-height: 100%;
    overflow-y: auto;

    .header {
        position: absolute;
        width: 100%;
        z-index: 2;
        transition: transform 0.3s ease; 
    }
    .header.hidee {
        transform: translateY(-100%); /* Adjust this value to the height of your header */
      }

    .header.hidden {
        display: none;
    }

    .router-container {}

    .footer-container {
        position: absolute;
        bottom: 0;
        width: 100%;
    }
}

