<div class="main-container">
  <div class="container name-header">
    <div *ngIf="currentUser" class="userName">{{ currentUser.family_name }}</div>
  </div>

  <div class="create-content-main-container">
    <form [formGroup]="contentForm" class="createcontent-form">
      <mat-form-field class="text-area">
        <mat-label>Write text</mat-label>
        <textarea
          matInput
          cdkTextareaAutosize
          #autosize="cdkTextareaAutosize"
          cdkAutosizeMaxRows="5"
          cdkAutosizeMinRows="1"
          formControlName="text"
        >
        </textarea>
      </mat-form-field>
    </form>

    <div *ngIf="imageprews && imageprews.length > 0" class="selectedImage container">
      <div class="selectedimg row">
        <div
          [class.col-4]="imageprews.length > 2"
          [class.col-6]="imageprews.length === 2"
          [class.col-12]="imageprews.length === 1"
          *ngFor="let image of imageprews"
          class="image-container"
        >
          <img class="col-12" [src]="image" />

          <div (click)="removeImg(image)" class="close-container">
            <i class="bi bi-x"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="options-main-container">
    <div class="options-container">
      <div class="image-main-container">
        <button mat-button class="image-container" (click)="fileInput.click()">
          <div class="image">
            <input
              type="file"
              #fileInput
              style="display: none"
              multiple
              accept="image/*"
              (change)="onFileSelected($event)"
            />
            <i class="bi bi-images"></i>
          </div>
          <div class="image-text">add Photo</div>
        </button>
      </div>
    </div>

    <div class="actions-main-container">
      <div class="actions">
        <div class="mat-button-container">
          <button mat-raised-button color="accent" (click)="onNoClick()">cancel</button>
        </div>

        <div class="mat-button-container">
          <button
            mat-raised-button
            class="matt-button done"
            (click)="Done()"
            [disabled]="isDisabled || !canPost()"
          >
            Post
          </button>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="loading" class="loading-main-container">
    <mat-spinner></mat-spinner>
  </div>
</div>
