.main-container {
  position: relative;

  .name-header {
    padding-bottom: 1rem;
    padding-top: 1rem;
  }

  .text-input {
  }

  .userName {
    font-size: 1.2rem;
    font-weight: bold;
  }

  .create-content-main-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    display: flex;
    // height: 30rem;
    max-height: 26rem;
    overflow-y: auto;

    .createcontent-form {
      width: 100%;

      .text-area {
        width: 100%;
      }
    }

    .image-container {
      position: relative;

      .close-container {
        position: absolute;
        top: 0.2rem;
        right: 0.2rem;
        font-size: 1.5rem;
        color: white;
        background-color: #cbcbcb87;
        border-radius: 40rem;
        width: 2rem;
        height: 2rem;
        display: flex;
        place-content: center;
        align-items: center;
      }

      i {
        color: #25396f;
      }
    }
  }

  .options-main-container {
    padding-bottom: 1rem;
    align-content: center;
    .options-container {
      padding-bottom: 1rem;
      padding-top: 3rem;
      background-color: white;

      // border-top: 1rem solid gray;
      // border-bottom: 1px solid gray;
      .image-main-container {
        padding-left: 0.5rem;
        padding-right: 0.5rem;

        .image-container:active {
          background-color: rgb(156, 153, 153);
        }

        .image-container {
          display: flex;
          flex-direction: row;
          align-items: center;
          padding-left: 0.5rem;
          padding-right: 0.5rem;
          border-radius: 0.5rem;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          border: none;
          background-color: transparent;
          width: 100%;
          position: relative;

          .image {
            // button{
            // border: none;
            // background-color: transparent;
            i {
              font-size: 1.7rem;
              color: rgb(0, 163, 247);
            }

            // }
          }

          .image-text {
            font-size: 1.2rem;
            padding-left: 1rem;
            align-content: center;
          }
        }
      }
    }

    .actions-main-container {
      padding-left: 0.5rem;
      padding-right: 0.5rem;

      .actions {
        display: flex;
        width: 100%;
        justify-content: flex-end;

        .mat-button-container {
          padding-left: 0.25rem;
          padding-right: 0.25rem;

          .done {
            background-color: #58b9ff;
          }

          .mat-button {
          }
        }
      }
    }
  }

  .loading-main-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /* bottom: 0; */
    display: flex;
    align-items: center;
    place-content: center;
    background-color: #80808042;
  }
}
::ng-deep {
  .mdc-button__label {
    display: flex;
  }
}
