<div class="content-main-container">
    <div class="content-detail-main-container">
        <div class="content-info-main-container">
            <div class="content-info-detail-picture-container">
                <img class="content-info-detail-picture" src="../../../../../assets/images/profilepicture.jpg" alt="">
            </div>
            <div class="content-info-detail">
                <div class="content-info-name">Saba Kavtaradze</div>
                <div class="content-info-date">Yesterday at 8:40 PM </div>
            </div>
            <div class="content-info-follow">
                <button class="user-follow">
                    Follow
                </button>
            </div>
        </div>
        <div class="content-more-main-container">
            <button class="more"><mat-icon>more_horiz</mat-icon></button>
        </div>
    </div>
    <div class="content-description-main-container">
        <div class="content-description">
            Lorem ipsum dolor sit amet, an quo habemus prodesset dissentiunt. Laoreet molestiae interpretaris ne nec.
            Minim commodo volutpat ut quo, ex vim essent perfecto recusabo. Ea congue nullam per.
            Eam eu affert eloquentiam, ut ubique essent eloquentiam sed.
        </div>
    </div>
    <div class="content-container">
        <app-dragpreview></app-dragpreview>
        <div class="contend-reviews">
            <mat-icon>thumb_up</mat-icon>
            <div class="content-reviews-numbers">
                550
            </div>
        </div>
        <div class="content-options-container">
            <div class="content-options">

                <div class="content-options-list-container">
                    <button class="content-options-list content-option-like">
                        <mat-icon>thumb_up</mat-icon>
                        <div class="content-options-list-numbers">500</div>
                    </button>
                    <button class="content-options-list content-option-dislike">
                        <mat-icon>thumb_down</mat-icon>
                        <div class="content-options-list-numbers">500</div>
                    </button>
                </div>

                <div class="content-options-list-container">
                    <button class="content-options-list">
                        <mat-icon> chat</mat-icon>
                        <div class="content-options-list-numbers">500</div>

                    </button>
                </div>

                <div class="content-options-list-container">
                    <button class="content-options-list">
                        <mat-icon>share</mat-icon>
                        <div class="content-options-list-numbers">500</div>

                    </button>
                </div>
                <div class="content-options-list-container">
                    <button class="content-options-list">
                        <mat-icon>edit</mat-icon>
                        <div class="content-options-list-numbers">500</div>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


