/* Global styles using prebuilt Angular Material theme */
body { margin: 0; }

html, body { height: 100%;  background-color: #f0f2f58a !important;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
/* Center only Angular Material dialog panels (do not affect menus/tooltips) */
.cdk-overlay-pane.mat-mdc-dialog-panel {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto; /* horizontally center when available */
}

/* Support "full-width" dialogs using current MDC class names */
.cdk-global-overlay-wrapper{
        place-content: center !important;

}
.full-width-dialog .mat-dialog-container {
  max-width: 100vw !important;
}
@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/montserrat/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/montserrat/Montserrat-Bold.ttf') format('truetype');
  font-weight: bold;
}
.content-info-detail-picture {
  display: block;
  object-fit: cover;
  image-rendering: auto;
}
