.footer-main-container {
    position: relative;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    // background-color: rgb(255 247 247 / 66%);
    background-color: white ;
    .add-content-main-container{
        display: flex;
        width: 100%;
        justify-content: center;
        position: absolute;
        top: -3rem;
        left: 0;
        .add-content-container{
            display: flex;
            flex-direction: row;
            // background-color: black;
            // padding: 0.4rem;
            justify-content: space-around;
            border-radius: 2rem;
            background-color: #00000099;
            color: white;
            .add-content-list-container{
            padding: 0.6rem;
            }
        }

    }
    // box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    //     rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
   
    // .footer-container {
        // display: flex;
        // align-items: center;
        // flex-direction: row;
        // justify-content: space-between;

        // .logo-container {
        //     img {
        //         width: 3rem;
        //     }
        // }

        // .searchbar-main-container {
        //     display: flex;
        //     place-content: center;
        //     width: 11rem;
        //     height: 3rem;

        //     ::ng-deep {
        //         .mat-mdc-form-field {}

        //         .mdc-text-field--filled:not(.mdc-text-field--disabled) {
        //             border-top: 0.05rem solid gray;
        //             border-left: 0.05rem solid gray;
        //             border-right: 0.05rem solid gray;
        //             background-color: transparent;
        //             border-radius: 0.5rem;
        //         }

        //         .mat-mdc-text-field-wrapper:not(.mdc-text-field--outlined) .mat-mdc-form-field-infix {
        //             // padding-top: 0;
        //             // padding-bottom: 0;
        //         }

        //         .mat-mdc-form-field-subscript-wrapper {
        //             display: none;
        //         }

        //         .mat-mdc-form-field-flex {
        //             height: 100%;
        //         }
        //     }
        // }

        // .messages-main-container {
        //     font-size: 2rem;
        //     display: flex;

        //     i {
        //         color: #0866ff;
        //     }

        //     i:active {
        //         color: #8eb2ed;
        //     }
        // }

        // .menu-main-container {}
    // }

    .footer-library-main-container {
        .footer-library-container {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            // padding-top: 1rem;
            align-items: center;

            // padding-left: 0.5rem;
            // padding-right: 0.5rem;
            .footer-library-list {
            position: relative;

                place-self: center;
                display: flex;
                i{
                    font-size: 1.5rem;
                    width: 1.5rem;
                    height: 1.5rem;
                    // color: #25396f;
                    color:#878787;
                    display: flex;
                }
                mat-icon {
                    font-size: 2rem;
                    width: 2rem;
                    height: 2rem;
                    // color: #25396f;
                    color: #6089f5;

                }
                .exclamation-container{
                    display: flex;
                    position: absolute;
                    top: -0.4rem;
                    right: -0.6rem;
                    i{
                        color: red !important;
                    }
                }
                .pactive{
                    color: #282828;
                }
            }

            .menu-main-container {
                .footer-library-list.profileLink.profileActive{
                   
                    img{
                        // border: 0.3rem solid  #5d6069;
                        border-radius: 30rem; 
                    }

                    .mat-icon{
                        // border: 0.1rem solid  #5d6069;
                        border-radius: 30rem;
                        height: 0.9rem;
                        width: 0.9rem;
                        font-size: 0.6rem;
                    }
                }
                .footer-library-list.profileLink {
                    display: flex;
                    position: relative;

                    img {
                        width: 2rem;
                        height: 2rem;
                        border-radius: 20rem;
                        border: 0.18rem solid transparent;
                    }

                    mat-icon {
                        position: absolute;
                        height: 1rem;
                        width: 1rem;
                        font-size: 0.7rem;
                        color: white;
                        bottom: -0.2rem;
                        right: -0.2rem;
                        background: gray;
                        border-radius: 20rem;
                        border: 0.1rem solid white;
                        text-align: center;
                        display: flex;
                        align-items: center;
                        place-content: center
                    }
                }
            }

        }

        .menu-main-container {
            width: 2rem;
            display: inline-table;
        }
    }
}